<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Photo Gallery</h1>
    <p>Text is soon to be added </p>
    <div class="Nav bar">
    <ul>
        <li> <a href="/about">About </a></li>
        <li> <a href="/photo">Projects </a></li>
        <li> <a href="/works">Photo gallery </a></li>
    </ul>
    </div>
    
    <!-- <img src="" alt ="giphy"> -->

</body>
</html>